@model IEnumerable<UrbaneMreze.Models.Type>

@{
    ViewBag.Title = "Tipi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Tipi</h2>

<p>
    @Html.ActionLink("Ustvari Novo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Entity.EntityName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pin.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TypeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Entity.EntityName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pin.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TypeName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.ActionLink("Uredi", "Edit", new { id=item.TypeGuid }) |
            @Html.ActionLink("Podrobnosti", "Details", new { id=item.TypeGuid }) |
            @Html.ActionLink("Izbriši", "Delete", new { id=item.TypeGuid })
        </td>
    </tr>
}

</table>
