@model IEnumerable<UrbaneMreze.Models.Entity>

@{
    ViewBag.Title = "Entitete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Entitete</h2>

<p>
    @Html.ActionLink("Ustvari Novo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EntityName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.EntityName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.ActionLink("Uredi", "Edit", new { id=item.EntityGuid }) |
            @Html.ActionLink("Podrobnosti", "Details", new { id=item.EntityGuid }) |
            @Html.ActionLink("Izbriši", "Delete", new { id=item.EntityGuid })
        </td>
    </tr>
}

</table>
