@model UrbaneMreze.Models.Comment

@{
    ViewBag.Title = "Podrobnosti";
}
<div class="container-fluid">
    <div class="row">
        <div class="row">
            <div id="map" class="col-sm-12 map-details"></div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-6 details-field">
                <div class="row">
                    <div class="col-sm-12">
                        <h4>Podrobnosti</h4>
                        @foreach (var item in @ViewBag.Spots)
                        {
                            <dl class="dl-horizontal">
                                <dt>
                                    Ime Lokacije
                                </dt>

                                <dd>
                                    @item.SpotName
                                </dd>

                                <dt>
                                    Opis
                                </dt>

                                <dd>
                                    @item.Description
                                </dd>

                                <dt>
                                    Datum nastanka
                                </dt>

                                <dd>
                                    @item.DateCreated
                                </dd>

                                <dt>
                                    Avtor
                                </dt>

                                <dd>
                                    @item.SpotAuthorUsername
                                </dd>

                                @if (item.DateCreated != item.DateModified) {
                                    <dt>
                                        Datum spremembe
                                    </dt>

                                    <dd>
                                        @item.DateModified
                                    </dd>
                                }
                            </dl>
                        }
                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-md-6 details-field">
                <h4>Fotografija</h4>
                @{
                    var photosLight = ViewBag.PhotosLight as IEnumerable<UrbaneMreze.Models.PhotoLight>;
                    var countPhotos = photosLight.Count();
                }
                @if (countPhotos > 0)
                {
                    foreach (var item in photosLight)
                    {
                        <div class="col-sm-4">
                            <img src="@item.ThumbnailSrc" class="details-photo" />
                            <p class="bold-text">Datum nastanka:</p>
                            <p>@item.DateCreated</p>
                        </div>
                    }
                }
                else
                {
                    <div class="col-sm-12">
                        <p class="text-center">Ta lokacija še nima slik.</p>
                    </div>
                }
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <h4>Komentarji</h4>
            </div>
            <div class="col-sm-12 comments">
                @{int countComments = 0;}
                @foreach (var item in ViewBag.Comments)
                {
                    countComments += 1;
                }
                @if (countComments > 0)
                {
                    foreach (var item in ViewBag.Comments)
                    {
                        <div class="row">
                            <div class="col-sm-2 comment">
                                <p class="bold-text">@item.CommentAuthorUsername</p>
                                <p>@item.DateCreated</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="bold-text">@item.Title</p>
                                @item.Text
                            </div>
                            <div class="col-sm-1">
                                @if (Request.IsAuthenticated)
                                {
                                    var CurrentUser = Auxiliaries.GetUserId(User);
                                    if (CurrentUser == item.UserCreatedID)
                                    {
                                        @Html.ActionLink( "Izbriši", "DeleteConfirmedUser", "Comments", routeValues: new { id = item.CommentGuid }, htmlAttributes: null)
                                    }
                                }
                            </div>
                        </div>
                        <div class="row">
                            <hr />
                        </div>
                    }
                }
                else
                {
                    <div class="row">
                        <p class="text-center">Ta lokacija še nima komentarjev.</p>
                    </div>
                    <div class="row">
                        <hr />
                    </div>
                }
                <div class="row">
                    <div class="col-sm-12">
                        @if (Request.IsAuthenticated)
                        {
                            <div class="row">
                                <div class="col-sm-12">
                                    @using (Html.BeginForm())
                                    {
                                        @Html.AntiForgeryToken()

                                        <div>
                                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                            @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-1" })
                                            <div class="col-md-3">
                                                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                                            </div>

                                            @Html.LabelFor(model => model.Text, htmlAttributes: new { @class = "control-label col-md-1" })
                                            <div class="col-md-5">
                                                @Html.EditorFor(model => model.Text, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.Text, "", new { @class = "text-danger" })
                                            </div>

                                            <div class="col-md-2">
                                                <input type="submit" value="Komentiraj" class="btn btn-default" />
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>

                        }
                        else
                        {
                            <div class="row">
                                <div class="col-sm-12">
                                    <p class="comment-login">
                                        Za pisanje komentarjev se morate @Html.ActionLink("prijaviti", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" }).
                                    </p>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>

        <script>
        var markerDetails = @Html.Raw(@ViewBag.Marker);
        function initMap() {
            var myLatlng = new google.maps.LatLng(markerDetails.lat, markerDetails.lng);
            var mapOptions = {
                center: myLatlng,
                zoom: 16,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            var infoWindow = new google.maps.InfoWindow();
            var map = new google.maps.Map(document.getElementById("map"), mapOptions);
            var icon = {
                url: "/Images/pinGreen.png",
                scaledSize: new google.maps.Size(20, 35),
                origin: new google.maps.Point(0, 0),
                anchor: new google.maps.Point(10, 35)
            }
            var marker = new google.maps.Marker({
                position: myLatlng,
                map: map,
                icon: icon,
                title: markerDetails.title
            });
            (function (marker, markerDetails) {
                google.maps.event.addListener(marker, "click", function (e) {
                    infoWindow.setContent(
                        "<div class='infoWindow'><span class='bold-text'>" + markerDetails.title + "</span><br/><p>" + markerDetails.description + "</p><p><a href='https://www.google.com/maps/?q="+markerDetails.lat+","+markerDetails.lng+"' target='_blank'>Prikaži v Google Zemljevidih</a></p></div>"
                    );
                    infoWindow.open(map, marker);
                });
            })(marker, markerDetails);
        }
        </script>

        <script async defer
                src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCEAiYQrITQJClN12bmTuXXF4AQCkkiCRk&callback=initMap">
        </script>

    </div>
</div>