@model UrbaneMreze.Models.ExternalLoginConfirmationViewModel
@{
    ViewBag.Title = "Registracija";
}
<h2>@ViewBag.Title.</h2>
<h3>Povežite vaš @ViewBag.LoginProvider račun.</h3>

@using (Html.BeginForm("ExternalLoginConfirmation", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    <h4>Povezovalni obrazec</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <p class="text-info">
        Uspešno ste se povezali z <strong>@ViewBag.LoginProvider</strong>.
        Prosimo, vnesite uporabniško ime za to spletno mesto spodaj in kliknite gumb Registracija za dokončanje prijave.
    </p>
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Registracija" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
