@model IEnumerable<UrbaneMreze.Models.Spot>

@{
    ViewBag.Title = "Lokacije";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Lokacije</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SpotName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Longitude)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Latitude)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateCreated)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateModified)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserCreatedID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserModifiedID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SpotName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Longitude)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Latitude)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateCreated)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateModified)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserCreatedID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserModifiedID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SpotGuid }) |
            @Html.ActionLink("Details", "Details", new { id=item.SpotGuid }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SpotGuid })
        </td>
    </tr>
}

</table>
