@model IEnumerable<UrbaneMreze.Models.Comment>

@{
    ViewBag.Title = "Komentarji";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Komentarji</h2>

<p>
    @Html.ActionLink("Ustvari novo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Spot.SpotName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Text)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Spot.SpotName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Text)
        </td>
        <td>
            @Html.ActionLink("Uredi", "Edit", new { id=item.CommentGuid }) |
            @Html.ActionLink("Podrobnosti", "Details", new { id=item.CommentGuid }) |
            @Html.ActionLink("Izbriši", "Delete", new { id=item.CommentGuid })
        </td>
    </tr>
}

</table>
